@charset "UTF-8";

body {
	_height: 100%;
	_background: url(about:blank);
	_background-attachment: fixed
}

body,dd,dl,dt,h2,h3,h4,h6,li,ol,p,ul {
	margin: 0;
	padding: 0;
	list-style: none;
	-webkit-text-size-adjust: none
}

img {
	border: 0
}

em,i,h2,h3,h4,h6 {
	font-style: normal
}

body {
	font: 12px/1.2 "Hiragino Sans GB","Microsoft YaHei","微软雅黑",arial,Tahoma,SimSun,sans-serif;
	color: #333;
	text-rendering: geometricPrecision;
	-webkit-font-smoothing: antialiased;
	_background-image: url(about:blank);
	_background-attachment: fixed
}

a {
	text-decoration: none;
	cursor: pointer
}

.clear:after {
	content: "";
	display: block;
	clear: both
}

:focus {
	outline: 0
}

.bg-img {
	z-index: -1;
	position: fixed;
	_position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	_left: expression(eval(document.documentElement.scrollLeft+document.documentElement.clientWidth-this.offsetWidth)-(parseInt(this.currentStyle.marginLeft, 10)||0)-(parseInt(this.currentStyle.marginRight, 10)||0));
	_top: expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight-(parseInt(this.currentStyle.marginTop, 10)||0)-(parseInt(this.currentStyle.marginBottom, 10)||0)))
}

#overlay {
	margin: 0;
	padding: 0;
	border: 0;
	width: 100%;
	height: 100%;
	opacity: .5;
	filter: alpha(opacity=50);
	z-index: 1;
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	display: block;
	background: #333
}

#outregBox {
	color: #fff;
	position: relative;
	width: 520px;
	margin: 12px auto;
	height: 20px;
	margin-bottom: 10px;
	font-size: 14px
}

#outregBox a {
	color: #fff
}

#backtoindex {
	position: absolute;
	left: 0
}

#goReg {
	position: absolute;
	right: 0
}

#goReg a:hover,#backtoindex a:hover {
	text-decoration: underline
}

#loginContent {
	z-index: 2;
	position: relative
}

.wrap {
	padding-top: 39px;
	padding-bottom: 38px;
	width: 520px;
	opacity: 1;
	filter: alpha(opacity=100);
	margin: 0 auto;
	background: #fff;
	border-radius: 3px;
	position: relative
}

/

#pwdLogin a {
	width: 48px;
	margin-left: 2px
}

.logpic_new {
	color: #FFF;
	display: none
}

.loginLogo {
	height: 46px;
	width: 134px;
	margin: 0 auto 10px;
	margin-top: 0;
	background: url(../img/logo.jpg);
	*background: url(../img/logo.jpg);
	background-position: 0 -202px
}

.isChinahrLogo {
	background: url(../img/chinahr_login.png)no-repeat;
	background-position: 0 0
}

#logoHref {
	display: block;
	height: 46px;
	width: 134px
}

.hide {
	display: none
}

.clear:after {
	content: " ";
	display: block;
	clear: both;
	height: 0
}

.clear {
	zoom: 1
}

#loginBox .login-box-title,#loginBox .login-content {
	width: 440px;
	margin: 0 auto
}

#loginBox .login-box-title li {
	float: left;
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #ebebeb
}

#loginBox .login-box-title li a {
	display: inline-block;
	width: 100%;
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 18px;
	color: #666
}

#loginBox .login-box-title li.active {
	border-bottom: 1px solid #FF552E
}

#loginBox .login-box-title li.active a {
	color: #FF552E
}


.login-footer {
	margin-top: 30px;
	text-align: center;
	padding-bottom: 25px
}

.login-footer a {
	color: #F6F6F6
}

.login-footer a:hover {
	text-decoration: underline
}

.login-footer span {
	color: #fff;
	opacity: .3;
	filter: alpha(opacity=30);
	padding: 0 35px
}

#scanLogin {
	margin-top: 30px
}

#footerTip {
	opacity: 1;
	filter: alpha(opacity=100);
	padding: 0
}

.wx-qrcodebg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: .9;
	filter: alpha(opacity=80);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9998;
	_position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2)
}

.wx-qrcodebg span {
	width: 24px;
	height: 24px;
	position: absolute;
	background-image: url(../img/pc_login_sprite.png);
	*background-image: url(../img/pc_login_sprite.gif);
	background-position: -278px -165px;
	right: 31px;
	top: 38px;
	cursor: pointer
}

.wx-qrcode {
	width: 240px;
	height: 410px;
	margin: 0 auto;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -120px;
	margin-top: -205px;
	_margin-top: 0;
	z-index: 9999;
	_position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);
	text-align: center
}

.wx-qrcode span {
	display: inline-block;
	vertical-align: middle
}

.wx-qrcode img {
	vertical-align: middle
}

.wx-qrcode h2 {
	color: #fff;
	font-size: 30px;
	font-weight: 400
}

.wx-qrcode-img {
	width: 240px;
	height: 240px;
	margin: 40px auto auto;
	background-color: #fff
}

.scanLoginTitle {
	text-align: center;
	font-size: 18px;
	color: #666;
	margin-top: 50px
}

.qrcode-failbg {
	width: 100%;
	height: 100%;
	background-color: #fff;
	opacity: .89;
	filter: alpha(opacity=.89);
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0
}

.img-wrap {
	width: 200px;
	height: 200px;
	margin: 0 auto;
	position: relative
}

.qrcode-failtxt {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	text-align: center
}

.qrcode-failtxt p {
	color: #000;
	font-size: 18px;
	margin-top: 67px
}

.qrcode-failtxt span {
	background: #FF552E;
	width: 108px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	font-size: 16px;
	margin-top: 14px;
	cursor: pointer
}

.wx-qrcode-txt {
	width: 225px;
	padding-left: 15px;
	height: 50px;
	color: #fff;
	border-radius: 100px;
	background: #232323;
	font-size: 16px;
	line-height: 50px;
	position: relative;
	margin-top: 44px
}

.wx-qrcode-txt i {
	width: 18px;
	height: 18px;
	position: absolute;
	top: 14px;
	left: 38px;
	background-image: url(../img/pc_login_sprite.png);
	*background-image: url(../img/pc_login_sprite.gif);
	background-position: -328px -116px
}

#scanLogin .erqcodeimgwrap {
	width: 190px;
	height: 190px;
	margin: 0 auto;
	border: 1px solid #EEE;
	position: relative
}

#scanLogin .erqceodeimg {
	height: 200px
}

#scanLogin .erqcode-img {
	width: 160px;
	height: 160px;
	display: block;
	margin: 15px auto auto
}

#scanLogin .scanopenapptip {
	margin-top: 128px;
	font-size: 14px;
	color: #666;
	text-align: center
}

#scanLogin .scanopenapptip a {
	color: #f4691c
}

#scanLogin .scanopenapptip a:hover {
	text-decoration: underline
}

#scanLogin .erqcodefailbg {
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: #fff;
	opacity: .89;
	z-index: 98;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

#scanLogin .erqcodefail {
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 99;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0
}

#scanLogin .erqcodefail-info {
	font-size: 18px;
	color: #000;
	margin-top: 57px;
	text-align: center
}

#scanLogin .erqcode-refresh {
	background: #FF552E;
	width: 108px;
	height: 34px;
	text-align: center;
	line-height: 34px;
	color: #fff;
	margin: 14px auto auto;
	font-size: 16px;
	cursor: pointer
}

#scanLogin .scanhoverimgwrap {
	float: left;
	width: 180px;
	height: 180px;
	border: 1px solid #eee;
	margin-right: 20px
}

#scanLogin .scanhoverimgwrap img {
	width: 150px;
	height: 150px;
	display: block;
	margin: 15px auto auto
}

#scanLogin .scanhover {
	clear: both;
	width: 410px;
	margin: 0 auto
}

#scanLogin .scan-img {
	width: 208px;
	height: 202px;
	float: left;
	background-image: url(../img/pc_login_sprite.png);
	*background-image: url(../img/pc_login_sprite.gif);
	background-position: 0 0
}

#scanSuc .scansucbg {
	width: 70px;
	height: 116px;
	margin: 0 auto;
	background-image: url(../img/pc_login_sprite.png);
	*background-image: url(../img/pc_login_sprite.gif);
	background-position: -278px 0
}

#scanSuc p {
	text-align: center
}

#scanSuc .fsz1666 {
	font-size: 20px;
	color: #666;
	margin-top: 20px
}

#scanSuc .fsz1433 {
	font-size: 14px;
	color: #333;
	margin-top: 12px
}

.scanfailimgbox {
	width: 70px;
	height: 116px;
	margin: 0 auto;
	background-image: url(../img/pc_login_sprite.png);
	*background-image: url(../img/pc_login_sprite.gif);
	background-position: -208px 0
}

.scanfailtips {
	font-size: 20px;
	color: #666;
	text-align: center;
	margin-top: 20px
}

#erqcode-tryagain {
	display: block;
	text-align: center;
	font-size: 14px;
	color: #FF552E;
	margin-top: 12px
}

.hide {
	display: none
}

.clear:after {
	content: " ";
	display: block;
	clear: both;
	height: 0
}

.clear {
	zoom: 1
}

#loginBox {
	width: 440px;
	margin: 0 auto
}

#loginBox .login-box-title li {
	float: left;
	width: 100%;
	height: 58px;
	border-bottom: 1px solid #ebebeb
}

#loginBox .login-box-title li a {
	display: inline-block;
	width: 100%;
	height: 58px;
	line-height: 58px;
	text-align: center;
	font-size: 18px;
	color: #666
}

#loginBox .login-box-title li.active {
	border-bottom: 1px solid #FF552E
}

#loginBox .login-box-title li.active a {
	color: #FF552E
}

/*
#loginBox .third-login {
	height: 45px;
	margin-top: 30px
}
/**/

#scanLogin {
	margin-top: 30px
}

.swk-bg {
	position: fixed;
	width: 100%;
	height: 100%;
	background-color: #333;
	opacity: .8;
	filter: alpha(opacity=80);
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 9999;
	_position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);
	display: none
}

.swk-del {
	width: 440px;
	height: 320px;
	margin: 0 auto;
	background-color: #fff;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -220px;
	margin-top: -160px;
	_margin-top: 0;
	z-index: 9999;
	box-shadow: 1px 1px 5px #ababab;
	_position: absolute;
	_top: expression(eval(document.compatMode && document.compatMode=='CSS1Compat') ? documentElement.scrollTop+(document.documentElement.clientHeight-this.offsetHeight)/2: document.body.scrollTop+(document.body.clientHeight - this.clientHeight)/2);
	display: none
}

.formInput {
	margin-top: 15px;
	overflow: hidden
}

.formInput li {
	margin-top: 16px;
	position: relative;
	overflow: hidden
}

.formInput li.commitcode_new {
	margin-top: 0;
	line-height: 44px;
	color: #999;
	font-size: 14px
}

.formInput li.commitcode_new input#isremember_id_new,.formInput li.commitcode_new input#isremember_id_new_mobile {
	display: block;
	float: left;
	margin: 15px 10px 0 0
}

.formInput li.commitcode_new a {
	float: right;
	color: #666
}

.formInput li input.passport-login-input {
	width: 420px;
	height: 50px;
	line-height: 50px\0;
	*line-height: 50px;
	background: #FFF;
	border: 2px solid #EBEBEB;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	font-size: 16px;
	color: #000;
	padding-left: 15px;
	margin-bottom: 14px
}

.formInput li input:focus {
	border: 2px solid #bfbfbf
}

.wrong1 {
	color: #FF5252;
	display: block;
	font-size: 14px;
	line-height: 22px;
	padding-left: 32px;
	background: url(../img/erroricon.png) no-repeat;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../img/erroricon.png", sizingMethod="crop");
	display: none
}

.errorTip {
	display: block
}

.rightTip {
	display: none
}

.formInput li input.submit {
	cursor: pointer;
	border: none;
	background: #FF552E;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	text-align: center;
	font-size: 18px;
	width: 440px;
	height: 54px;
	margin-top: 14px;
	color: #fff
}

.userpwd-login .formInput li.passport-login-input-submit {
	margin-top: 0
}

.userpwd-login .formInput li input.submit {
	margin-top: 1px
}

#vcodeImg {
	position: absolute;
	right: 8px;
	top: 11px
}

.changecode {
	float: right;
	font-size: 14px;
	color: #999;
	margin-top: 13px
}

.changecode a {
	color: #ff5c37;
	font-size: 14px
}

.getcode {
	border: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	display: block;
	width: 110px;
	height: 34px;
	text-align: center;
	background: #F6F6F6;
	border-radius: 3px;
	font-size: 14px;
	line-height: 34px;
	color: #ccc
}

.gotoregUser {
	color: #0E8ED8
}

.loginValidcodeLi {
	display: none
}

.loginValidcodeKeep,.loginValidcodeLiKeep,.loginVoiceValidcodeKeep,.loginVoiceValidcodeLiKeep,.loginMobileUsernameKeep {
	display: block
}

.loginValidcodeClear,.loginValidcodeLiClear,.loginVoiceValidcodeClear,.loginVoiceValidcodeLiClear,.loginMobileUsernameClear {
	display: none
}

.loginValidcodeBg {
	margin: 0;
	padding: 0;
	border: none;
	width: 100%;
	height: 100%;
	opacity: .9;
	z-index: 999;
	position: fixed;
	top: 0;
	left: 0;
	display: block;
	background: #333
}

.loginValidcodeBox {
	left: 50%;
	top: 50%;
	margin-left: -260px;
	margin-top: -155px;
	position: absolute;
	z-index: 1002;
	background: #FFF;
	box-shadow: 0 2px 6px 2px rgba(0,0,0,.24);
	border-radius: 2px;
	width: 520px;
	height: 310px
}

.loginValidcodeTipText {
	display: block;
	text-align: center;
	font-size: 20px;
	color: #333;
	text-align: center;
	margin-top: 50px
}

.loginValidcodeInputBox {
	margin: 40px auto;
	margin-bottom: 26px;
	width: 440px;
	height: 54px;
	line-height: 54px;
	background: #FFF;
	border: 2px solid #EBEBEB;
	border-radius: 2px
}

.loginValidcode {
	border: 0;
	margin-left: 15px;
	font-size: 16px;
	height: 20px;
	padding: 15px 0;
	width: 400px
}

#loginValidImg,#loginVoiceValidImg {
	position: absolute;
	right: 40px;
	height: 50px;
	cursor: pointer
}

.loginValidcodeBtnbox {
	margin: 0 auto;
	width: 440px;
	height: 54px;
	line-height: 54px;
	background: #ff552e;
	color: #fff;
	border-radius: 2px;
	text-align: center
}

.loginValidcodeBtn {
	width: 440px;
	height: 54px;
	color: #fff;
	font-size: 18px;
	border-radius: 2px;
	border: 0;
	background: #ff552e;
	cursor: pointer
}

.loginValidcodeBtnOn {
	color: #fff
}

.loginValidcodeClose {
	position: fixed;
	width: 42px;
	height: 42px;
	background: url(../img/regClose.png) no-repeat;
	right: 30px;
	top: 30px;
	z-index: 1003;
	opacity: 1;
	color: #fff;
	cursor: pointer
}

#loginMobilecodeSendBtn {
	cursor: pointer;
	border: 0
}

.btnAbleSend {
	color: #ff552e
}

.scancode i,.pwdlogin i {
	cursor: pointer
}

.commitcode_new a.password:hover {
	color: #ff552e;
	text-decoration: underline
}

.inputNull {
	color: #ccc!important
}

.wrap {
	position: relative
}

.LogoTip {
	text-align: center;
	font-size: 16px;
	color: #666
}

#bindTipBox {
	color: #ff552e;
	font-size: 14px;
	position: absolute;
	bottom: 122px;
	right: 40px
}

.bindTip {
	cursor: pointer
}

/*
.thirdbindBox .submit_new {
	margin-top: 60px!important
}

.thirdbindBox .mobileBtnLi {
	margin-top: 60px!important
}
/**/

#formSubmitFrame_new {
	display: none
}

#loginMobileButton,#btnSubmitUser {
	margin-top: 0
}

@media only screen and (-webkit-min-device-pixel-ratio:1.5),only screen and (min--moz-device-pixel-ratio:1.5),only screen and (min-resolution:240dpi) {

	.loginLogo {
		background-image: url(../img/logo.jpg);
		background-position: 0 -202px;
		background-size: 348px
	}

	.isChinahrLogo {
		background-image: url(../img/chinahr_login.png)!important;
		background-position: 0 0;
		background-size: 134px 46px
	}

	

	.wx-qrcodebg span {
		background-image: url(../img/pc_login_sprite@2x.png);
		background-position: -278px -165px;
		background-size: 348px
	}

	.wx-qrcode-txt i {
		background-image: url(../img/pc_login_sprite@2x.png);
		background-position: -328px -116px;
		background-size: 348px
	}

	#scanLogin .scan-img {
		background-image: url(../img/pc_login_sprite@2x.png);
		background-position: 0 0;
		background-size: 348px
	}

	#scanSuc .scansucbg {
		background-image: url(../img/pc_login_sprite@2x.png);
		background-position: -278px 0;
		background-size: 348px
	}

	.scanfailimgbox {
		background-image: url(../img/pc_login_sprite@2x.png);
		background-position: -208px 0;
		background-size: 348px
	}

	.wrong1 {
		background: url(../img/erroricon2x.png) no-repeat;
		background-size: 22px
	}
}

.loginVoicecodeTip {
	float: right;
	right: 0;
	top: 68px;
	opacity: .98;
	font-size: 14px;
	color: #979797;
	height: 22px;
	line-height: 22px;
	margin-top: 12px
}

.loginVoicecodeBtn {
	opacity: .98;
	font-size: 14px;
	color: #FF552E;
	cursor: pointer;
	padding-left: 10px;
	background: 0 0;
	border: 0
}

.loginVoicecodeTip input:focus {
	border: 0!important
}

.regGetcodeBtn {
	position: absolute;
	cursor: pointer;
	background: #FF552E;
	border-radius: 0px;
	width: 110px;
	height: 34px;
	font-size: 14px!important;
	color: #FFF;
	letter-spacing: -.01px;
	right: 8px;
	top: 8px;
	margin-top: 0;
	border: none;

}
.regGetcodeBtn1 {
	position: absolute;
	cursor: pointer;
	background: #F6F6F6;
	border-radius: 0px;
	width: 110px;
	height: 34px;
	font-size: 14px!important;
	color: #CCC;
	letter-spacing: -.01px;
	right: 8px;
	top: 8px;
	margin-top: 0;
	border: none;

}