@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: arial,"宋体"!important;
	color: #333
}

div {
	margin: 0 auto
}

p,form,ul,dl,ol,li,dt,dd,h1,h2,h3 {
	margin: 0;
	padding: 0;
	list-style: none
}

img {
	border: 0
}

select,input {
	font: 100% Tahoma,Helvetica,Arial,sans-serif;
	vertical-align: middle
}

select {
	padding: 3px
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}

.clearfix {
	display: inline-block
}

.clearfix {
	display: block
}

.fix {
	width: 100%;
	height: 0;
	overflow: hidden;
	clear: both;
	float: none
}

.c {
	height: 0;
	font-size: 0;
	clear: both;
	overflow: hidden
}

td {
	table-layout: fixed;
	word-wrap: break-word
}

a {
	color: #25D;
	text-decoration: none
}

a:hover {
	color: red;
	text-decoration: underline
}

.left {
	float: left
}

.right {
	float: right
}

.line {
	height: 1px;
	overflow: hidden;
	background: url(//img.58cdn.com.cn/ui6/my/images/line.gif) repeat-x;
	margin: 15px 0;
	clear: both;
	float: none
}

.green {
	color: #090
}

.red {
	color: red
}

.gray {
	color: #aaa
}

.c66 {
	color: #666
}

.fgrey {
	color: #aaa
}

.mb10 {
	margin-bottom: 10px
}

.pb10 {
	padding-bottom: 10px
}

.pt20 {
	padding-top: 20px!important
}

.plr10 {
	padding: 0 0 0 10px
}

.mt10 {
	margin-top: 10px
}

.f12 {
	font-size: 12px
}

.f14 {
	font-size: 14px
}

.mt20 {
	margin-top: 20px
}

.mt5 {
	margin-top: 5px
}

.mr20 {
	margin-left: 20px
}

.l-10 {
	margin-left: 6px
}

.r-6 {
	margin-right: 6px
}

.r-10 {
	margin-right: 10px
}

.btn-line {
	line-height: 2.5
}

span.p2 {
	line-height: 1.8
}

.conleft {
	padding: 10px 10px 40px
}

.conright {
	width: 242px;
	padding: 20px 0 0 0
}

strong.green-1 {
	color: #090;
	margin-right: 6px
}

.sc {
	border: 1px solid #ddd;
	padding: 10px;
	width: 380px;
	margin: 0 auto;
	_margin-top: 8px
}

.sc textarea {
	width: 100%;
	height: 130px;
	font-size: 12px;
	line-height: 160%;
	overflow-x: hidden;
	background: #fff;
	border: none
}

.sc {
	display: block
}

.hc {
	display: none
}

#footer {
	text-align: center;
	padding: 10px 0
}

#footer a {
	margin: 0 10px
}

.fe_window_mask {
	top: 0;
	left: 0;
	filter: Alpha(Opacity=30);
	opacity: .3;
	background-color: #000;
	z-index: 9996
}

.fe_window {
	position: fixed;
	_position: absolute;
	z-index: 9997
}

.fe_window .outer {
	position: relative
}

.fe_window .contains {
	position: absolute;
	background: #fff;
	z-index: 9999
}

.fe_window .frame {
	background: #000;
	opacity: .3;
	filter: alpha(opacity=30);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9998;
	border-width: 0;
	border-top-width: 2px;
	border-top-color: #000;
	border-style: solid;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px
}

.fe_window .contains .topbar {
	background-image: url(//img.58cdn.com.cn/ui6/top_box_t.gif);
	background-attachment: initial;
	background-origin: initial;
	background-clip: initial;
	background-color: initial;
	background-position: initial initial;
	background-repeat: repeat-x;
	border-bottom: 1px solid #c7c7c7
}

.fe_window .contains .topbar .title {
	font: 700 14px/34px "宋体";
	margin-left: 10px;
	color: #1a1a1a;
	width: 50%
}

.fe_window .contains .topbar .closebtn {
	display: block;
	width: 20px;
	height: 20px;
	background: url(//img.58cdn.com.cn/ui6/top_box_close.gif) no-repeat 0 0;
	line-height: 100px;
	overflow: hidden;
	margin: 7px 6px 0;
	float: right
}

.fe_window .contains .topbar .closebtn:hover {
	background-position: right 0
}

.fe_window .contains .load {
	font-size: 14px;
	background: url(//img.58cdn.com.cn/n/images/loading.gif) no-repeat center center;
	margin-left: -60px;
	padding-left: 90px;
	text-align: center;
	color: #666
}

ul#details-ul {
	height: 27px;
	background: url(//img.58cdn.com.cn/ui6/my/images/details-menu-bg.gif) bottom repeat-x;
	padding: 0 0 0 10px
}

ul#details-ul li {
	float: left;
	position: relative;
	margin: 0 4px 0 0;
	display: inline-block;
	cursor: pointer;
	background: url(//img.58cdn.com.cn/ui6/my/images/details-menu-n.gif) 100% -27px no-repeat;
	padding-right: 2px
}

ul#details-ul li a {
	display: block;
	line-height: 27px;
	font-size: 12px;
	padding: 0 15px;
	background: url(//img.58cdn.com.cn/ui6/my/images/details-menu-n.gif) 0 -27px no-repeat
}

ul#details-ul li a i {
	font-style: normal;
	margin-left: 4px;
	color: red;
	font-weight: 700
}

ul#details-ul li.selected {
	background-position: 100% 0;
	font-weight: 700;
	color: #000
}

ul#details-ul li.selected a {
	color: #000;
	font-weight: 700;
	background-position: 0 0
}

ul#details-ul li.selected a:hover {
	color: #000;
	text-decoration: none
}

ul#details-ul li.hover {
	background-position: 100% -81px;
	font-weight: 700;
	color: #000
}

ul#details-ul li.hover a {
	color: #000;
	font-weight: 700;
	background-position: 0 -81px
}

ul#details-ul li.hover a:hover {
	color: #000;
	text-decoration: none
}

.pager {
	padding: 40px 0;
	background: #fff;
	zoom: 1;
	clear: both;
	text-align: center;
	line-height: 22px;
	font-family: '宋体';
	_font-family: Tahoma
}

.pager a,.pager strong,.hotarea dt {
	margin: 0 1px;
	padding: 0 0 0 1px;
	display: inline-block;
	background-position: 0 -217px
}

.pager a span,.pager strong span,.hotarea dt span {
	display: inline-block;
	padding: 0 8px 0 7px;
	background-position: right -217px
}

.pager a.prv {
	background-position: 0 -261px;
	padding-left: 12px
}

.pager a.next span {
	background-position: right -261px;
	padding-right: 19px
}

.pager a:hover,.pager strong {
	background-position: 0 -173px;
	color: #FFF;
	text-decoration: none
}

.pager a:hover span,.pager strong span {
	background-position: right -173px
}

.pager a.prv:hover {
	background-position: 0 -284px
}

.pager a.next:hover span {
	background-position: right -284px
}

.pager strong {
	font-weight: 700
}

.pager .recently {
	background-position: 0 -195px;
	color: red
}

.pager .recently span {
	background-position: right -195px
}

#page {
	float: right;
	font-family: Arial;
	padding: 2px 0;
	font-size: 12px
}

#page .pg {
	float: left;
	margin-left: 5px
}

#page .pg a,#page .pn a {
	display: inline-block;
	padding: 0 6px;
	line-height: 18px;
	text-align: center;
	font-family: Tahoma;
	border: 1px solid #dee3e7;
	background-color: #fff;
	white-space: nowrap;
	text-decoration: none;
	font-size: 12px
}

#page .pg a:hover,#page .pn a:hover {
	border: 1px solid #fd7a0e;
	background-color: #fd7a0e;
	color: #fff
}

#page .pn {
	float: left;
	padding: 0 6px;
	margin-left: 5px;
	line-height: 18px;
	text-align: center;
	font-family: Tahoma;
	border: 1px solid #fd7a0e;
	background-color: #fd7a0e;
	color: #fff;
	font-weight: 700
}

#page .pn a {
	color: #fff;
	font-weight: 700
}

.pager-jf {
	font-family: Arial;
	padding: 20px 0;
	zoom: 1;
	clear: both;
	text-align: center;
	font-size: 12px
}

.pager-jf span a {
	margin-left: 3px;
	display: inline-block;
	padding: 0 6px;
	line-height: 18px;
	text-align: center;
	font-family: Tahoma;
	border: 1px solid #dee3e7;
	background-color: #fff;
	white-space: nowrap;
	text-decoration: none;
	font-size: 12px
}

.pager-jf span a:hover {
	border: 1px solid #fd7a0e;
	background-color: #fd7a0e;
	color: #fff
}

.pager-jf span a.next {
	font-family: "宋体";
	line-height: 18px;
	position: relative;
	top: -1px
}

.pager-jf span b {
	display: inline-block;
	padding: 0 6px;
	margin-left: 5px;
	line-height: 18px;
	text-align: center;
	font-family: Tahoma;
	border: 1px solid #fd7a0e;
	background-color: #fd7a0e;
	color: #fff;
	font-weight: 700
}

.pager-jf p {
	line-height: 3;
	color: #666
}

.details-tips,.details-tips .ico {
	background: url(//img.58cdn.com.cn/ui6/my/images/use-icon-2.gif) no-repeat!important
}

.details-tips {
	position: absolute;
	border: solid 1px #f5e9ab;
	line-height: 1.8;
	padding: 3px 20px 3px 10px;
	z-index: 900;
	color: #d0a050;
	cursor: auto;
	padding-left: 26px;
	width: 220px;
	left: 0;
	top: 31px;
	background-color: #ffffe0!important;
	background-position: 8px -333px!important
}

.details-tips p {
	font-weight: 400
}

.details-tips .ico {
	position: absolute
}

.details-tips .close {
	top: 5px;
	right: 3px;
	background-position: 0 -275px!important;
	padding: 0!important
}

.details-tips .arr {
	top: -7px;
	left: 26px;
	background-position: 0 -309px!important
}