<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.b2p.modules.shop.mapper.ShopWorkorderMapper">
  <resultMap id="BaseResultMap" type="com.cdut.b2p.modules.shop.po.ShopWorkorder">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="workorder_user_id" jdbcType="VARCHAR" property="workorderUserId" />
    <result column="workorder_reason" jdbcType="VARCHAR" property="workorderReason" />
    <result column="workorder_status" jdbcType="CHAR" property="workorderStatus" />
    <result column="workorder_type_id" jdbcType="VARCHAR" property="workorderTypeId" />
    <result column="workorder_receiver_id" jdbcType="VARCHAR" property="workorderReceiverId" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, workorder_user_id, workorder_reason, workorder_status, workorder_type_id, workorder_receiver_id, 
    create_by, create_date, update_by, update_date, remarks, del_flag
  </sql>
  <select id="selectByExample" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorderExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_workorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from shop_workorder
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shop_workorder
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorderExample">
    delete from shop_workorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorder">
    insert into shop_workorder (id, workorder_user_id, workorder_reason, 
      workorder_status, workorder_type_id, workorder_receiver_id, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag
      )
    values (#{id,jdbcType=VARCHAR}, #{workorderUserId,jdbcType=VARCHAR}, #{workorderReason,jdbcType=VARCHAR}, 
      #{workorderStatus,jdbcType=CHAR}, #{workorderTypeId,jdbcType=VARCHAR}, #{workorderReceiverId,jdbcType=VARCHAR}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorder">
    insert into shop_workorder
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="workorderUserId != null">
        workorder_user_id,
      </if>
      <if test="workorderReason != null">
        workorder_reason,
      </if>
      <if test="workorderStatus != null">
        workorder_status,
      </if>
      <if test="workorderTypeId != null">
        workorder_type_id,
      </if>
      <if test="workorderReceiverId != null">
        workorder_receiver_id,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="workorderUserId != null">
        #{workorderUserId,jdbcType=VARCHAR},
      </if>
      <if test="workorderReason != null">
        #{workorderReason,jdbcType=VARCHAR},
      </if>
      <if test="workorderStatus != null">
        #{workorderStatus,jdbcType=CHAR},
      </if>
      <if test="workorderTypeId != null">
        #{workorderTypeId,jdbcType=VARCHAR},
      </if>
      <if test="workorderReceiverId != null">
        #{workorderReceiverId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorderExample" resultType="java.lang.Long">
    select count(*) from shop_workorder
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_workorder
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.workorderUserId != null">
        workorder_user_id = #{record.workorderUserId,jdbcType=VARCHAR},
      </if>
      <if test="record.workorderReason != null">
        workorder_reason = #{record.workorderReason,jdbcType=VARCHAR},
      </if>
      <if test="record.workorderStatus != null">
        workorder_status = #{record.workorderStatus,jdbcType=CHAR},
      </if>
      <if test="record.workorderTypeId != null">
        workorder_type_id = #{record.workorderTypeId,jdbcType=VARCHAR},
      </if>
      <if test="record.workorderReceiverId != null">
        workorder_receiver_id = #{record.workorderReceiverId,jdbcType=VARCHAR},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_workorder
    set id = #{record.id,jdbcType=VARCHAR},
      workorder_user_id = #{record.workorderUserId,jdbcType=VARCHAR},
      workorder_reason = #{record.workorderReason,jdbcType=VARCHAR},
      workorder_status = #{record.workorderStatus,jdbcType=CHAR},
      workorder_type_id = #{record.workorderTypeId,jdbcType=VARCHAR},
      workorder_receiver_id = #{record.workorderReceiverId,jdbcType=VARCHAR},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorder">
    update shop_workorder
    <set>
      <if test="workorderUserId != null">
        workorder_user_id = #{workorderUserId,jdbcType=VARCHAR},
      </if>
      <if test="workorderReason != null">
        workorder_reason = #{workorderReason,jdbcType=VARCHAR},
      </if>
      <if test="workorderStatus != null">
        workorder_status = #{workorderStatus,jdbcType=CHAR},
      </if>
      <if test="workorderTypeId != null">
        workorder_type_id = #{workorderTypeId,jdbcType=VARCHAR},
      </if>
      <if test="workorderReceiverId != null">
        workorder_receiver_id = #{workorderReceiverId,jdbcType=VARCHAR},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdut.b2p.modules.shop.po.ShopWorkorder">
    update shop_workorder
    set workorder_user_id = #{workorderUserId,jdbcType=VARCHAR},
      workorder_reason = #{workorderReason,jdbcType=VARCHAR},
      workorder_status = #{workorderStatus,jdbcType=CHAR},
      workorder_type_id = #{workorderTypeId,jdbcType=VARCHAR},
      workorder_receiver_id = #{workorderReceiverId,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
</mapper>