<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdut.b2p.modules.shop.mapper.ShopGoodsMapper">
  <resultMap id="BaseResultMap" type="com.cdut.b2p.modules.shop.po.ShopGoods">
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="goods_category_id" jdbcType="VARCHAR" property="goodsCategoryId" />
    <result column="goods_seller_id" jdbcType="VARCHAR" property="goodsSellerId" />
    <result column="goods_area_id" jdbcType="VARCHAR" property="goodsAreaId" />
    <result column="goods_brand_id" jdbcType="VARCHAR" property="goodsBrandId" />
    <result column="goods_brand_model" jdbcType="VARCHAR" property="goodsBrandModel" />
    <result column="goods_title" jdbcType="VARCHAR" property="goodsTitle" />
    <result column="goods_original_price" jdbcType="DECIMAL" property="goodsOriginalPrice" />
    <result column="goods_present_price" jdbcType="DECIMAL" property="goodsPresentPrice" />
    <result column="goods_old_level" jdbcType="CHAR" property="goodsOldLevel" />
    <result column="goods_status" jdbcType="CHAR" property="goodsStatus" />
    <result column="goods_click_times" jdbcType="INTEGER" property="goodsClickTimes" />
    <result column="goods_pics" jdbcType="VARCHAR" property="goodsPics" />
    <result column="goods_up_time" jdbcType="TIMESTAMP" property="goodsUpTime" />
    <result column="goods_end_time" jdbcType="TIMESTAMP" property="goodsEndTime" />
    <result column="create_by" jdbcType="VARCHAR" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="del_flag" jdbcType="CHAR" property="delFlag" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.cdut.b2p.modules.shop.po.ShopGoods">
    <result column="goods_discrible" jdbcType="LONGVARCHAR" property="goodsDiscrible" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, goods_category_id, goods_seller_id, goods_area_id, goods_brand_id, goods_brand_model, 
    goods_title, goods_original_price, goods_present_price, goods_old_level, goods_status, 
    goods_click_times, goods_pics, goods_up_time, goods_end_time, create_by, create_date, 
    update_by, update_date, remarks, del_flag
  </sql>
  <sql id="Blob_Column_List">
    goods_discrible
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.cdut.b2p.modules.shop.po.ShopGoodsExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByExample" parameterType="com.cdut.b2p.modules.shop.po.ShopGoodsExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limit != null">
      <if test="offset != null">
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null">
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shop_goods
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from shop_goods
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.cdut.b2p.modules.shop.po.ShopGoodsExample">
    delete from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.cdut.b2p.modules.shop.po.ShopGoods">
    insert into shop_goods (id, goods_category_id, goods_seller_id, 
      goods_area_id, goods_brand_id, goods_brand_model, 
      goods_title, goods_original_price, goods_present_price, 
      goods_old_level, goods_status, goods_click_times, 
      goods_pics, goods_up_time, goods_end_time, 
      create_by, create_date, update_by, 
      update_date, remarks, del_flag, 
      goods_discrible)
    values (#{id,jdbcType=VARCHAR}, #{goodsCategoryId,jdbcType=VARCHAR}, #{goodsSellerId,jdbcType=VARCHAR}, 
      #{goodsAreaId,jdbcType=VARCHAR}, #{goodsBrandId,jdbcType=VARCHAR}, #{goodsBrandModel,jdbcType=VARCHAR}, 
      #{goodsTitle,jdbcType=VARCHAR}, #{goodsOriginalPrice,jdbcType=DECIMAL}, #{goodsPresentPrice,jdbcType=DECIMAL}, 
      #{goodsOldLevel,jdbcType=CHAR}, #{goodsStatus,jdbcType=CHAR}, #{goodsClickTimes,jdbcType=INTEGER}, 
      #{goodsPics,jdbcType=VARCHAR}, #{goodsUpTime,jdbcType=TIMESTAMP}, #{goodsEndTime,jdbcType=TIMESTAMP}, 
      #{createBy,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=VARCHAR}, 
      #{updateDate,jdbcType=TIMESTAMP}, #{remarks,jdbcType=VARCHAR}, #{delFlag,jdbcType=CHAR}, 
      #{goodsDiscrible,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.cdut.b2p.modules.shop.po.ShopGoods">
    insert into shop_goods
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="goodsCategoryId != null">
        goods_category_id,
      </if>
      <if test="goodsSellerId != null">
        goods_seller_id,
      </if>
      <if test="goodsAreaId != null">
        goods_area_id,
      </if>
      <if test="goodsBrandId != null">
        goods_brand_id,
      </if>
      <if test="goodsBrandModel != null">
        goods_brand_model,
      </if>
      <if test="goodsTitle != null">
        goods_title,
      </if>
      <if test="goodsOriginalPrice != null">
        goods_original_price,
      </if>
      <if test="goodsPresentPrice != null">
        goods_present_price,
      </if>
      <if test="goodsOldLevel != null">
        goods_old_level,
      </if>
      <if test="goodsStatus != null">
        goods_status,
      </if>
      <if test="goodsClickTimes != null">
        goods_click_times,
      </if>
      <if test="goodsPics != null">
        goods_pics,
      </if>
      <if test="goodsUpTime != null">
        goods_up_time,
      </if>
      <if test="goodsEndTime != null">
        goods_end_time,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="remarks != null">
        remarks,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
      <if test="goodsDiscrible != null">
        goods_discrible,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="goodsCategoryId != null">
        #{goodsCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellerId != null">
        #{goodsSellerId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAreaId != null">
        #{goodsAreaId,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrandId != null">
        #{goodsBrandId,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrandModel != null">
        #{goodsBrandModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsTitle != null">
        #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsOriginalPrice != null">
        #{goodsOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPresentPrice != null">
        #{goodsPresentPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsOldLevel != null">
        #{goodsOldLevel,jdbcType=CHAR},
      </if>
      <if test="goodsStatus != null">
        #{goodsStatus,jdbcType=CHAR},
      </if>
      <if test="goodsClickTimes != null">
        #{goodsClickTimes,jdbcType=INTEGER},
      </if>
      <if test="goodsPics != null">
        #{goodsPics,jdbcType=VARCHAR},
      </if>
      <if test="goodsUpTime != null">
        #{goodsUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsEndTime != null">
        #{goodsEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=CHAR},
      </if>
      <if test="goodsDiscrible != null">
        #{goodsDiscrible,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.cdut.b2p.modules.shop.po.ShopGoodsExample" resultType="java.lang.Long">
    select count(*) from shop_goods
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_goods
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsCategoryId != null">
        goods_category_id = #{record.goodsCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsSellerId != null">
        goods_seller_id = #{record.goodsSellerId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsAreaId != null">
        goods_area_id = #{record.goodsAreaId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsBrandId != null">
        goods_brand_id = #{record.goodsBrandId,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsBrandModel != null">
        goods_brand_model = #{record.goodsBrandModel,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsTitle != null">
        goods_title = #{record.goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsOriginalPrice != null">
        goods_original_price = #{record.goodsOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsPresentPrice != null">
        goods_present_price = #{record.goodsPresentPrice,jdbcType=DECIMAL},
      </if>
      <if test="record.goodsOldLevel != null">
        goods_old_level = #{record.goodsOldLevel,jdbcType=CHAR},
      </if>
      <if test="record.goodsStatus != null">
        goods_status = #{record.goodsStatus,jdbcType=CHAR},
      </if>
      <if test="record.goodsClickTimes != null">
        goods_click_times = #{record.goodsClickTimes,jdbcType=INTEGER},
      </if>
      <if test="record.goodsPics != null">
        goods_pics = #{record.goodsPics,jdbcType=VARCHAR},
      </if>
      <if test="record.goodsUpTime != null">
        goods_up_time = #{record.goodsUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.goodsEndTime != null">
        goods_end_time = #{record.goodsEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=VARCHAR},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remarks != null">
        remarks = #{record.remarks,jdbcType=VARCHAR},
      </if>
      <if test="record.delFlag != null">
        del_flag = #{record.delFlag,jdbcType=CHAR},
      </if>
      <if test="record.goodsDiscrible != null">
        goods_discrible = #{record.goodsDiscrible,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update shop_goods
    set id = #{record.id,jdbcType=VARCHAR},
      goods_category_id = #{record.goodsCategoryId,jdbcType=VARCHAR},
      goods_seller_id = #{record.goodsSellerId,jdbcType=VARCHAR},
      goods_area_id = #{record.goodsAreaId,jdbcType=VARCHAR},
      goods_brand_id = #{record.goodsBrandId,jdbcType=VARCHAR},
      goods_brand_model = #{record.goodsBrandModel,jdbcType=VARCHAR},
      goods_title = #{record.goodsTitle,jdbcType=VARCHAR},
      goods_original_price = #{record.goodsOriginalPrice,jdbcType=DECIMAL},
      goods_present_price = #{record.goodsPresentPrice,jdbcType=DECIMAL},
      goods_old_level = #{record.goodsOldLevel,jdbcType=CHAR},
      goods_status = #{record.goodsStatus,jdbcType=CHAR},
      goods_click_times = #{record.goodsClickTimes,jdbcType=INTEGER},
      goods_pics = #{record.goodsPics,jdbcType=VARCHAR},
      goods_up_time = #{record.goodsUpTime,jdbcType=TIMESTAMP},
      goods_end_time = #{record.goodsEndTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR},
      goods_discrible = #{record.goodsDiscrible,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_goods
    set id = #{record.id,jdbcType=VARCHAR},
      goods_category_id = #{record.goodsCategoryId,jdbcType=VARCHAR},
      goods_seller_id = #{record.goodsSellerId,jdbcType=VARCHAR},
      goods_area_id = #{record.goodsAreaId,jdbcType=VARCHAR},
      goods_brand_id = #{record.goodsBrandId,jdbcType=VARCHAR},
      goods_brand_model = #{record.goodsBrandModel,jdbcType=VARCHAR},
      goods_title = #{record.goodsTitle,jdbcType=VARCHAR},
      goods_original_price = #{record.goodsOriginalPrice,jdbcType=DECIMAL},
      goods_present_price = #{record.goodsPresentPrice,jdbcType=DECIMAL},
      goods_old_level = #{record.goodsOldLevel,jdbcType=CHAR},
      goods_status = #{record.goodsStatus,jdbcType=CHAR},
      goods_click_times = #{record.goodsClickTimes,jdbcType=INTEGER},
      goods_pics = #{record.goodsPics,jdbcType=VARCHAR},
      goods_up_time = #{record.goodsUpTime,jdbcType=TIMESTAMP},
      goods_end_time = #{record.goodsEndTime,jdbcType=TIMESTAMP},
      create_by = #{record.createBy,jdbcType=VARCHAR},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=VARCHAR},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      remarks = #{record.remarks,jdbcType=VARCHAR},
      del_flag = #{record.delFlag,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.cdut.b2p.modules.shop.po.ShopGoods">
    update shop_goods
    <set>
      <if test="goodsCategoryId != null">
        goods_category_id = #{goodsCategoryId,jdbcType=VARCHAR},
      </if>
      <if test="goodsSellerId != null">
        goods_seller_id = #{goodsSellerId,jdbcType=VARCHAR},
      </if>
      <if test="goodsAreaId != null">
        goods_area_id = #{goodsAreaId,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrandId != null">
        goods_brand_id = #{goodsBrandId,jdbcType=VARCHAR},
      </if>
      <if test="goodsBrandModel != null">
        goods_brand_model = #{goodsBrandModel,jdbcType=VARCHAR},
      </if>
      <if test="goodsTitle != null">
        goods_title = #{goodsTitle,jdbcType=VARCHAR},
      </if>
      <if test="goodsOriginalPrice != null">
        goods_original_price = #{goodsOriginalPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsPresentPrice != null">
        goods_present_price = #{goodsPresentPrice,jdbcType=DECIMAL},
      </if>
      <if test="goodsOldLevel != null">
        goods_old_level = #{goodsOldLevel,jdbcType=CHAR},
      </if>
      <if test="goodsStatus != null">
        goods_status = #{goodsStatus,jdbcType=CHAR},
      </if>
      <if test="goodsClickTimes != null">
        goods_click_times = #{goodsClickTimes,jdbcType=INTEGER},
      </if>
      <if test="goodsPics != null">
        goods_pics = #{goodsPics,jdbcType=VARCHAR},
      </if>
      <if test="goodsUpTime != null">
        goods_up_time = #{goodsUpTime,jdbcType=TIMESTAMP},
      </if>
      <if test="goodsEndTime != null">
        goods_end_time = #{goodsEndTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=VARCHAR},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="remarks != null">
        remarks = #{remarks,jdbcType=VARCHAR},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=CHAR},
      </if>
      <if test="goodsDiscrible != null">
        goods_discrible = #{goodsDiscrible,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.cdut.b2p.modules.shop.po.ShopGoods">
    update shop_goods
    set goods_category_id = #{goodsCategoryId,jdbcType=VARCHAR},
      goods_seller_id = #{goodsSellerId,jdbcType=VARCHAR},
      goods_area_id = #{goodsAreaId,jdbcType=VARCHAR},
      goods_brand_id = #{goodsBrandId,jdbcType=VARCHAR},
      goods_brand_model = #{goodsBrandModel,jdbcType=VARCHAR},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_original_price = #{goodsOriginalPrice,jdbcType=DECIMAL},
      goods_present_price = #{goodsPresentPrice,jdbcType=DECIMAL},
      goods_old_level = #{goodsOldLevel,jdbcType=CHAR},
      goods_status = #{goodsStatus,jdbcType=CHAR},
      goods_click_times = #{goodsClickTimes,jdbcType=INTEGER},
      goods_pics = #{goodsPics,jdbcType=VARCHAR},
      goods_up_time = #{goodsUpTime,jdbcType=TIMESTAMP},
      goods_end_time = #{goodsEndTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR},
      goods_discrible = #{goodsDiscrible,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.cdut.b2p.modules.shop.po.ShopGoods">
    update shop_goods
    set goods_category_id = #{goodsCategoryId,jdbcType=VARCHAR},
      goods_seller_id = #{goodsSellerId,jdbcType=VARCHAR},
      goods_area_id = #{goodsAreaId,jdbcType=VARCHAR},
      goods_brand_id = #{goodsBrandId,jdbcType=VARCHAR},
      goods_brand_model = #{goodsBrandModel,jdbcType=VARCHAR},
      goods_title = #{goodsTitle,jdbcType=VARCHAR},
      goods_original_price = #{goodsOriginalPrice,jdbcType=DECIMAL},
      goods_present_price = #{goodsPresentPrice,jdbcType=DECIMAL},
      goods_old_level = #{goodsOldLevel,jdbcType=CHAR},
      goods_status = #{goodsStatus,jdbcType=CHAR},
      goods_click_times = #{goodsClickTimes,jdbcType=INTEGER},
      goods_pics = #{goodsPics,jdbcType=VARCHAR},
      goods_up_time = #{goodsUpTime,jdbcType=TIMESTAMP},
      goods_end_time = #{goodsEndTime,jdbcType=TIMESTAMP},
      create_by = #{createBy,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      remarks = #{remarks,jdbcType=VARCHAR},
      del_flag = #{delFlag,jdbcType=CHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <!-- 对比商品 -->
  <select id="compareGoods" parameterType="com.cdut.b2p.modules.shop.po.ShopGoodsInfo" resultType="com.cdut.b2p.modules.shop.po.ShopGoods" resultMap="BaseResultMap">
  	select * from shop_goods where goods_present_price between (#{goodsPresentPrice}-200) and (#{goodsPresentPrice}+300) order by goods_present_price;
  </select>
</mapper>